header{
    background-image:url(img/header.jpg);
    box-shadow: 0px 10px 50px black;
    background-size: 100%;
    background-position: 0%  40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:50px;
    gap: 30px 80px;
    
    
}
// LOGO______________________________________
.logo_1{
    background-color: rgb(111, 32, 206);
    display: flex;
    align-items: center;
    padding: 3px;
    border-radius: 50px 50px;
}
.logoimg_1{
    cursor: grab;
    animation: rotation 7s infinite linear;
}

.logoimg_1c{
    padding-right: 17px;
    padding-left: 10px;
    font-size: 20px;
}


// LINKS_____________________________________
.nav_links li{
    padding: 0px 20px;
    list-style: none;
}

.nav_links li a{
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.nav_links li a:hover{
    font-size: 31px;
    color: rgb(111, 32, 206);
    transition: all 0.3s ease-in-out;
}

// BUTTON_____________________________________

// .basket {
//     list-style: none;
//     display: flex;
//     margin-left: 9em;
//     align-items: center;
// }

.button_header{
    padding: 6px 11px;
    background-color: rgb(111, 32, 206);
    border-style: double;
    border-radius: 50px 50px;
    cursor: pointer;
    margin: 4px;
    transition:all 0.3s ease-in-out;
}

.button_header:hover{
    padding: 7px 12px;
    background-color: black;
    border-style: double;
    cursor: pointer;
    transition:all 0.3s ease-in-out;

}

